<div class="container">
    <h2>Login</h2>
    <form class="form-horizontal" role="form" *ngIf="active" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
            <label class="control-label col-sm-2" for="username">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="Enter username" required
                       ngControl="username" #username="ngForm">
                <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                    <p>Username is required</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Enter password" required
                       ngControl="password" #password="ngForm">
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                    <p>Password is required</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label><input type="checkbox"> Stay logged in</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid" (click)="gotToProfileFromLog()">Login</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <label>Don't you have account</label>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" (click)="gotToRegistration()">Registration</button>
            </div>
        </div>

    </form>
</div>